{% extends "layout.html" %}

{% block title %}
    Şifre Değiştir
{% endblock %}

{% block main %}
    <form class="change-pass" action="change_password" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto see-pass" name="pass" placeholder="Yeni Şifre" type="password">
        </div>        
        <div class="mb-4">
            <input autocomplete="off" class="form-control mx-auto w-auto see-pass" name="pass2" placeholder="Şifreyi Onaylayınız" type="password">
        </div>
        <div class="mb-4">
            <input class="form-check-input showPasswordCheckbox" type="checkbox" id="showPasswordCheckbox">
            <label class="form-check-label" for="showPasswordCheckbox">
                Şifreyi Göster
            </label>
        </div>
        <div class="mt-1">
            <button class="btn btn-primary" type="submit">Onayla</button>
        </div>
    </form>
{% endblock %}