{% extends "layout.html" %}

{% block title %}
    Şifreyi Sıfırla
{% endblock %}

{% block main %}
    <form action="/reset_password/{{ token }}" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto see-pass" name="pass" placeholder="Şifre" type="password">
        </div>
        <div class="mb-3">
            <input autocomplete="off" class="form-control mx-auto w-auto see-pass" name="pass2" placeholder="Şifreyi Onaylayınız" type="password">
        </div>
        <div class="mb-4">
            <input class="form-check-input showPasswordCheckbox" type="checkbox" id="showPasswordCheckbox">
            <label class="form-check-label" for="showPasswordCheckbox">
                Şifreyi Göster
            </label>
        </div>
        <button class="btn btn-primary" type="submit">Onayla</button>
    </form>
{% endblock %}