{% extends "layout.html" %}

{% block title %}
    Hoş geldiniz!
{% endblock %}

{% block main %}

<div style="font-family: 'Inconsolata', monospace;">
    <h1 style="font-size: 26x; margin-top: 0; padding-bottom: 40px; padding-top: 200px;">Geleneksel Muhasebe Kaydını <span style="font-family: 'Zilla Slab Highlight', serif;">Unutun</span></h1>
    <p style="margin-top: 2%; font-size: 20px; padding-bottom: 30px;">
        Uygulamamız sayesinde gelirlerinizi rahatça takip edebilir, satın aldıklarınızı ve sattıklarınızı kaydedebilir ve kazancınızı grafikte görebilirsiniz.
    </p>
</div>

{% endblock %}